<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-custom justify-content-between">
        <div class="container">
            <a class="navbar-brand light" href="">{{title}}</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for courses" aria-label="Search" id="course-search">
            </form>
        </div>
    </nav>
    <div class="container" id="main-body">
        <form id="post-review">
            <h5 id="review-sign">Review a course:</h5>
            <hr>
            <select class="custom-select mb-3" id="course-name">
                <option value="AP Computer Science">AP Computer Science</option>
                <option value="AP European History">AP European History</option>
                <option value="AP Calculus AB">AP Calculus AB</option>
                <option value="AP Physics 1">AP Physics 1</option>
                <option value="Human Geography">Human Geography</option>
                <option value="Algebra 2 Honors">Algebra 2 Honors</option>
                <option value="Precalculus Honors">Precalculus Honors</option>
                <option value="Chemistry Honors">Chemistry Honors</option>
                <option value="British Literature">British Literature</option>
                <option value="American Literature">American Literature</option>
            </select>
            <br>
            <textarea id="review-body" cols="100" rows="5" style="resize: none;"></textarea>
            <p id="word-count" class="text-secondary">0/500</p>
            <label for="course-difficulty">Course difficulty</label>
            <input type="range" min="0" max="5" value="3" id="course-difficulty">
            <br>
            <label for="homework-load">Homework load</label>
            <input type="range" min="0" max="5" value="3" id="homework-load">
            <br>
            <label for="time-committment">Time committment</label>
            <input type="range" min="0" max="5" value="3" id="time-committment">
            <br>
            <input type="submit" value="Review">
        </form>
        <hr>
        <div id="featured-courses">
            <h3>Featured courses:</h3>
            <div id="featured-courses-body"></div>
        </div>
    </div>
    <div id="recommendations" class="container custom-con"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
  </body>
</html>