.bg-custom {
    background-color: #4287f5;
}

.light {
    color: white !important;
}

#review-sign {
    margin-top: 20px;
}

#review-body {
    width: 100%;
}

.custom-select {
    border-radius: 0;
}

.float-left {
    width: 50%;
    float: left;
}

.float-right {
    margin-top: 40px;
    float: right
}

#recommendations {
    margin-top: 20px;
}